footer
{
    background-color: black;
    color: white;
    padding-left: 20px;
    img
    {
        color-adjust: white;
        width: 30%;
    }
    li
    {
        list-style-type: none;
    }
}