






a
{
   text-decoration: none;
   color: black;
}

.backgroundimg
{
    margin: auto;
    position: relative;
    width: 100%;
    height: 700px;
    margin-bottom: -45px;
    @media (max-width:800px) {
        height:100%;
        
    }
    
}
.alphapage
{
    max-width: 100%;
    margin: auto;
    padding-bottom: 40px;
    width: 100%;
    position:relative;
    background-color: whitesmoke;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    font-family: 'Roboto', sans-serif;
    .topsection
    {
        margin: auto;
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;

        i
        {
            font-size: 35px;
            padding-top: 25px;
            cursor: pointer;
            
        }
    }
    .entrées
    {
        @include blocs;
        
    }
    .plats
    {
        margin: auto;
        @include blocs;
}
    .desserts
    {
        margin-bottom: 30px;
        @include blocs;
    }

}




